.spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-spinner {
  font-size: 6rem;
  color: #ffbb9c;
}

.fa-spinner.btn-spinner {
  font-size: 2rem;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  margin: 0;
  top: 1px;
  right: 10px;
  transition: all 0.3s;
}
.fa-spinner.btn-spinner.active {
  opacity: 1;
  visibility: visible;
}
